{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <main>
        <div class="container-fluid px-5 custom-containermax-width " >
            <div class="row">
                <h1 class="mt-4">Contracts</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Contracts</li>
                </ol>
            </div>

            <div class="row">
                <div>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        
                            <div>

                                <!-- TITULO DEL AREA-->

                                <div class="secHead">
                                    <div class="secTitle">Section del tio Gilito</div>
                                </div>

                                <!-- INFORMACIÓN DEL TRADER Y DE LA FECHA-->

                                <!-- FUNCIONA -->
                                <div class="create-two-column pb-xxl-4">
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel">
                                                    <label for="id_trader">Trader</label>
                                                </div>
                                                <div class="input-group" style="position: relative;">
                                                    
                                                    <input type="hidden" id="id_trader" name="id_trader">
                                                    <input 
                                                        type="text" 
                                                        class="form-control autocomplete-input" 
                                                        placeholder="Buscar trader..." 
                                                        aria-label="Buscar trader"
                                                        data-input-type="trader"
                                                        autocomplete="off"
                                                    />

                                                    <!-- This is where the dropdown will appear -->
                                                    <div class="autocomplete-items" id="autocomplete-list-trader"></div>
                                                    
                                                    <button class="btn btn-outline-secondary" type="button" onclick="openModal('trader')">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel">
                                                    <label for="id_date">Fecha del negocio</label>
                                                </div>
                                                <div class="input-group">
                                                    <!-- Visible input to display the date -->
                                                    <input id="startDate" class="form-control" type="date" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                </div>

                            </div>
                            
                            
                            <!-- INFORMACIÓN DEL LA OPERACIÓN Y QUIEN OPERA-->
                        
                            <div class="create-two-column pb-xxl-4">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_sociedad">Sociedad</label>
                                            </div>
                                            <div class="input-group" style="position: relative;">
                                                
                                                <input type="hidden" id="id_sociedad" name="id_sociedad">
                                                <input 
                                                    type="text" 
                                                    class="form-control autocomplete-input" 
                                                    placeholder="Buscar sociedad..." 
                                                    aria-label="Buscar sociedad"
                                                    data-input-type="sociedad"
                                                    autocomplete="off"
                                                />

                                                <!-- This is where the dropdown will appear -->
                                                <div class="autocomplete-items" id="autocomplete-list-sociedad"></div>
                                                
                                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('sociedad')">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>
                                    
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="trade_operation_type">Tipo de Operacion</label>
                                            </div>
                                            <div class="input-group" style="position: relative;">
                                                
                                                <input type="hidden" id="id_trade_operation_type" name="id_trade_operation_type">
                                                <input 
                                                    type="text" 
                                                    class="form-control autocomplete-input" 
                                                    placeholder="Buscar tipo de operacion..." 
                                                    aria-label="Buscar tipo de operación"
                                                    data-input-type="trade_operation_type"
                                                    autocomplete="off"
                                                />

                                                <!-- This is where the dropdown will appear -->
                                                <div class="autocomplete-items" id="autocomplete-list-trade_operation_type"></div>
                                                
                                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('trade_operation_type')">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>

                                   
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_counterparty">Cliente</label>
                                            </div>
                                            <div class="input-group" style="position: relative;">
                                                
                                                <input type="hidden" id="id_counterparty" name="id_counterparty">
                                                <input 
                                                    type="text" 
                                                    class="form-control autocomplete-input" 
                                                    placeholder="Buscar Cliente..." 
                                                    aria-label="Buscar Cliente"
                                                    data-input-type="counterparty"
                                                    autocomplete="off"
                                                />

                                                <!-- This is where the dropdown will appear -->
                                                <div class="autocomplete-items" id="autocomplete-list-counterparty"></div>
                                                
                                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('counterparty')">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_commodity">Commodity</label>
                                            </div>
                                            <div class="input-group" style="position: relative;">
                                                
                                                <input type="hidden" id="id_commodity" name="id_commodity">
                                                <input 
                                                    type="text" 
                                                    class="form-control autocomplete-input" 
                                                    placeholder="Buscar Commodity..." 
                                                    aria-label="Buscar Commodity"
                                                    data-input-type="commodity"
                                                    autocomplete="off"
                                                />

                                                <!-- This is where the dropdown will appear -->
                                                <div class="autocomplete-items" id="autocomplete-list-commodity"></div>
                                                
                                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('commodity')">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>
                                
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_delivery_format">Formato</label>
                                            </div>
                                            <div class="input-group" style="position: relative;">
                                                
                                                <input type="hidden" id="id_delivery_format" name="id_delivery_format">
                                                <input 
                                                    type="text" 
                                                    class="form-control autocomplete-input" 
                                                    placeholder="Buscar formato..." 
                                                    aria-label="Buscar formato"
                                                    data-input-type="delivery_format"
                                                    autocomplete="off"
                                                />

                                                <!-- This is where the dropdown will appear -->
                                                <div class="autocomplete-items" id="autocomplete-list-delivery_format"></div>
                                                
                                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('delivery_format')">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>

                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_additive">Commodity</label>
                                            </div>
                                            <div class="input-group" style="position: relative;">
                                                
                                                <input type="hidden" id="id_additive" name="id_additive">
                                                <input 
                                                    type="text" 
                                                    class="form-control autocomplete-input" 
                                                    placeholder="Buscar Aditivos..." 
                                                    aria-label="Buscar Adicivos"
                                                    data-input-type="additive"
                                                    autocomplete="off"
                                                />

                                                <!-- This is where the dropdown will appear -->
                                                <div class="autocomplete-items" id="autocomplete-list-additive"></div>
                                                
                                                <button class="btn btn-outline-secondary" type="button" onclick="openModal('additive')">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>




                             <!-- TITULO DEL AREA BROKER-->

                             <div class="secHead">
                                <div class="secTitle">Broker</div>
                            </div>

                         <!-- INFORMACIÓN DEL BROKER-->

                            <div class="create-two-column pb-xxl-4">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_broker">Broker</label>
                                            </div>
                                            <div class="input-group">
                                                <!-- Hidden input to store the ID -->
                                                <input type="hidden" id="id_broker" name="id_broker">
                                                
                                                <!-- Visible input to display the nombre_sociedad -->
                                                <input 
                                                    type="text" 
                                                    id="broker_name" 
                                                    name="broker_name" 
                                                    class="form-control" 
                                                    placeholder="Buscar Broker..." 
                                                    readonly 
                                                    aria-label="Buscar Broker" 
                                                    aria-describedby="btnSearch"
                                                />
                                                <!-- Button inside the input field -->
                                                <button 
                                                    class="btn btn-outline-secondary" 
                                                    type="button" 
                                                    id="btnSearch" 
                                                    onclick="openModal('broker')"
                                                >
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_broker">Broker Fee</label>
                                            </div>
                                            <div class="input-group">
                                                <!-- Hidden input to store the ID -->
                                                <input type="hidden" id="id_broker" name="id_broker">
                                                
                                                <!-- Visible input to display the nombre_sociedad -->
                                                <input 
                                                    type="text" 
                                                    id="broker_name" 
                                                    name="broker_name" 
                                                    class="form-control" 
                                                    placeholder="Buscar Broker..." 
                                                     
                                                    aria-label="Buscar Broker" 
                                                    aria-describedby="btnSearch"
                                                />
                                                <!-- Button inside the input field -->
                                                <button 
                                                    class="btn btn-outline-secondary" 
                                                    type="button" 
                                                    id="btnSearch" 
                                                    onclick="openModal('broker')"
                                                >
                                                    <i class="fa fa-eur"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                        </div>

                        <div>

                            <!-- TITULO DEL AREA-->

                            <div class="secHead">
                                <div class="secTitle">Logística</div>
                            </div>

                            <!-- INFORMACIÓN DEL TRADER Y DE LA FECHA-->

                            <div class="create-two-column pb-xxl-4">
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel">
                                                    <label for="id_icoterm">icoterm</label>
                                                </div>
                                                <div class="input-group">
                                                    <!-- Hidden input to store the ID -->
                                                    <input type="hidden" id="id_icoterm" name="id_icoterm">
                                                    
                                                    <!-- Visible input to display the nombre_sociedad -->
                                                    <input 
                                                        type="text" 
                                                        id="icoterm_name" 
                                                        name="icoterm_name" 
                                                        class="form-control" 
                                                        placeholder="Buscar icoterm..." 
                                                        readonly 
                                                        aria-label="Buscar icoterm" 
                                                        aria-describedby="btnSearch"
                                                    />
                                                    <!-- Button inside the input field -->
                                                    <button 
                                                        class="btn btn-outline-secondary" 
                                                        type="button" 
                                                        id="btnSearch" 
                                                        onclick="openModal('icoterm')"
                                                    >
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                       
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel">
                                                    <label for="id_cost_center">Centro de Coste</label>
                                                </div>
                                                <div class="input-group">
                                                    <!-- Hidden input to store the ID -->
                                                    <input type="hidden" id="id_cost_center" name="id_cost_center">
                                                    
                                                    <!-- Visible input to display the nombre_sociedad -->
                                                    <input 
                                                        type="text" 
                                                        id="cost_center_name" 
                                                        name="cost_center_name" 
                                                        class="form-control" 
                                                        placeholder="Buscar Centro de Coste..." 
                                                        readonly 
                                                        aria-label="Buscar Centro de Coste" 
                                                        aria-describedby="btnSearch"
                                                    />
                                                    <!-- Button inside the input field -->
                                                    <button 
                                                        class="btn btn-outline-secondary" 
                                                        type="button" 
                                                        id="btnSearch" 
                                                        onclick="openModal('cost_center')"
                                                    >
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                      
                            </div>

                            <div class="create-two-column pb-xxl-4">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_entrega">Lugar de Entrega</label>
                                            </div>
                                            <div class="input-group">
                                                <!-- Hidden input to store the ID -->
                                                <input type="hidden" id="id_entrega" name="id_entrega">
                                                
                                                <!-- Visible input to display the nombre_sociedad -->
                                                <input 
                                                    type="text" 
                                                    id="entrega_name" 
                                                    name="entrega_name" 
                                                    class="form-control" 
                                                    placeholder="Buscar Lugar de Entrega..." 
                                                    readonly 
                                                    aria-label="Buscar Lugar de Entrega" 
                                                    aria-describedby="btnSearch"
                                                />
                                                <!-- Button inside the input field -->
                                                <button 
                                                    class="btn btn-outline-secondary" 
                                                    type="button" 
                                                    id="btnSearch" 
                                                    onclick="openModal('entrega')"
                                                >
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel">
                                                <label for="id_cost_center">Coste de transporte</label>
                                            </div>
                                            <div class="input-group">
                                                <!-- Hidden input to store the ID -->
                                                <input type="hidden" id="id_cost_center" name="id_cost_center">
                                                
                                                <!-- Visible input to display the nombre_sociedad -->
                                                <input 
                                                    type="text" 
                                                    id="cost_center_name" 
                                                    name="cost_center_name" 
                                                    class="form-control" 
                                                    placeholder="Buscar Centro de Coste..." 
                                                    readonly 
                                                    aria-label="Buscar Centro de Coste" 
                                                    aria-describedby="btnSearch"
                                                />
                                                <!-- Button inside the input field -->
                                                <button 
                                                    class="btn btn-outline-secondary" 
                                                    type="button" 
                                                    id="btnSearch" 
                                                    onclick="openModal('cost_center')"
                                                >
                                                    <i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  
                        </div>


                            
                            


                            <div class="secHead">
                                <div class="secTitle">Económicos</div>
                            </div>


                            <!-- INFORMACIÓN DEL LA OPERACIÓN Y QUIEN OPERA-->

                        
                        
                            <div class="create-two-column">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_price">Precio</label></div>
                                            <div class="customImput">{{ form.price }}</div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_arranque_crudo">Arranque crudo</label></div>
                                            <div class="customImput">{{ form.arranque_crudo }}</div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            
                            <div class="create-two-column">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_backing">Backing</label></div>
                                            <div class="customImput">{{ form.backing }}</div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_trade_currency">Divisa de la operación</label></div>
                                            <div class="customImput">{{ form.trade_currency }}</div>
                                        </div>
                                    </div>
                                </div>  
                            </div>


                         <!-- INFORMACIÓN DEL BROKER-->

                            
                        

                    
                    
                        <div class="row mt-4">
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn btn-primary w-25 p-2">Enter <i class="fa fa-user" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

   </main>

                    <!-- MODAL -->
                                                

                        <div class="modal fade" tabindex="-1" id="myModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title">Select a record</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <div id="modalContent"></div>
                                    </div>
                                    <!-- Modal Footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

    <script>
        const fetchDataBaseUrl = "{% url 'fetch_data' 'table_name' %}".slice(0, -11); // Remove the placeholder part
    </script>


    {% block extra_js %}
        {{ form.media }}
    {% endblock %}

{% endblock %}




