{% extends 'webapp/base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-5 custom-containermax-width">
        <h1 class="mt-4">Crypto</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Crypto</li>
        </ol>
        
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <table id="datatables" class="display">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Current Price (USD)</th>
                            <th>Market Cap</th>
                            <th>Total Volume</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Current Price (USD)</th>
                            <th>Market Cap</th>
                            <th>Total Volume</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for crypto in cryptos %}
                        <tr>
                            <td>{{ crypto.name }}</td>
                            <td>{{ crypto.symbol }}</td>
                            <td>{{ crypto.current_price }}</td>
                            <td>{{ crypto.market_cap }}</td>
                            <td>{{ crypto.total_volume }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No cryptocurrencies found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
