{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <main>
        <div class="container-fluid px-5 custom-containermax-width " >
            <div class="row">
                <h1 class="breadcrumb mt-4">Contracts</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Contracts</li>
                </ol>
            </div>

            <div class="row">
                <div>
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        
                        <div>

                            <!-- TITULO DEL AREA-->

                            <div class="secHead">
                                <div class="secTitle">Section del tio Gilito</div>
                            </div>

                            <!-- INFORMACIÓN DEL TRADER Y DE LA FECHA-->


                            <div class="create-two-column pb-xxl-4">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_trader">Trader</label></div>
                                            <div class="customImput"><input type="text" id="id_trader" name="trader"></div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_date">Fecha del negocio</label></div>
                                            <div class="customImput"><input type="date" id="id_date" name="date"></div>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                            <!-- INFORMACIÓN DEL LA OPERACIÓN Y QUIEN OPERA-->

                            <div class="create-two-column pb-xxl-4">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_sociedad">Sociedad</label></div>
                                            <div class="customImput"><input type="text" id="id_sociedad" name="sociedad"></div>
                                        </div>
                                    </div>
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_trade_operation_type">Tipo de operación</label></div>
                                            <div class="customImput"><input type="text" id="id_trade_operation_type" name="trade_operation_type"></div>
                                        </div>
                                    </div>
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_counterparty">Cliente</label></div>
                                            <div class="customImput"><input type="text" id="id_counterparty" name="counterparty"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_commodity">Commodity</label></div>
                                            <div class="customImput"><input type="text" id="id_commodity" name="commodity"></div>
                                        </div>
                                    </div>
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_delivery_format">Formato</label></div>
                                            <div class="customImput"><input type="text" id="id_delivery_format" name="delivery_format"></div>
                                        </div>
                                    </div>
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_additive">Aditivo</label></div>
                                            <div class="customImput"><input type="text" id="id_additive" name="additive"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- TITULO DEL AREA BROKER-->

                            <div class="secHead">
                                <div class="secTitle">Broker</div>
                            </div>

                            <!-- INFORMACIÓN DEL BROKER-->

                            <div class="create-two-column pb-xxl-4">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_broker">Broker</label></div>
                                            <div class="customImput"><input type="text" id="id_broker" name="broker"></div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_broker_fee">Comisión</label></div>
                                            <div class="customImput"><input type="text" id="id_broker_fee" name="broker_fee"></div>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                        </div>

                        <div>

                            <!-- TITULO DEL AREA-->

                            <div class="secHead">
                                <div class="secTitle">Logística</div>
                            </div>

                            <!-- INFORMACIÓN DEL TRADER Y DE LA FECHA-->

                            <div class="pb-xxl-4">
                                <div class="create-two-column">
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel"><label for="id_icoterm">ICOTERM</label></div>
                                                <div class="customImput"><input type="text" id="id_icoterm" name="icoterm"></div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel"><label for="id_cost_center">Centro de coste</label></div>
                                                <div class="customImput"><input type="text" id="id_cost_center" name="cost_center"></div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="create-two-column">
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel"><label for="id_entrega">Lugar de entrega</label></div>
                                                <div class="customImput"><input type="text" id="id_entrega" name="entrega"></div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="container1">
                                        <div class="formContainer">
                                            <div class="formFields">
                                                <div class="customfieldLabel"><label for="id_freight_cost">Coste de transporte</label></div>
                                                <div class="customImput"><input type="text" id="id_freight_cost" name="freight_cost"></div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>


                            <div class="secHead">
                                <div class="secTitle">Económicos</div>
                            </div>


                            <!-- INFORMACIÓN DEL LA OPERACIÓN Y QUIEN OPERA-->

                            <div class="create-two-column">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_price">Precio</label></div>
                                            <div class="customImput"><input type="text" id="id_price" name="price"></div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_arranque_crudo">Arranque crudo</label></div>
                                            <div class="customImput"><input type="text" id="id_arranque_crudo" name="arranque_crudo"></div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="create-two-column">
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_backing">Backing</label></div>
                                            <div class="customImput"><input type="text" id="id_backing" name="backing"></div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="container1">
                                    <div class="formContainer">
                                        <div class="formFields">
                                            <div class="customfieldLabel"><label for="id_trade_currency">Divisa de la operación</label></div>
                                            <div class="customImput"><input type="text" id="id_trade_currency" name="trade_currency"></div>
                                        </div>
                                    </div>
                                </div>  
                            </div>

                        </div>

                    
                    
                        <div class="row mt-4">
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn btn-primary w-25 p-2">Enter <i class="fa fa-user" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        // Add event listeners for real-time typing
        document.querySelectorAll('input').forEach(input => {
            input.addEventListener('input', (e) => {
                console.log(e.target.value); // You can replace this with your desired action
            });
        });
    </script>

{% endblock %}









class CustomForm(forms.ModelForm):
    class Meta:
        model = Contract
        fields = '__all__'

    def __init__(self, *args, **kwargs):
        super(CustomForm, self).__init__(*args, **kwargs)
        self.helper = FormHelper()
        self.helper.layout = Layout(
            Div(
                Field('trader', css_class='form-control'),
                Field('trade_operation_type', css_class='form-control'),
                Field('sociedad', css_class='form-control'),
                Field('counterparty', css_class='form-control'),
                Field('commodity', css_class='form-control'),
                Field('commodity_group', css_class='form-control'),
                Field('delivery_format', css_class='form-control'),
                Field('additive', css_class='form-control'),
                Field('broker', css_class='form-control'),
                Field('broker_fee', css_class='form-control'),
                Field('broker_fee_currency', css_class='form-control'),
                Field('icoterm', css_class='form-control'),
                Field('entrega', css_class='form-control'),
                Field('freight_cost', css_class='form-control'),
                Field('cost_center', css_class='form-control'),
                Field('forex', css_class='form-control'),
                Field('payment_days', css_class='form-control'),
                Field('price', css_class='form-control'),
                Field('trade_currency', css_class='form-control'),
                Field('delivery_period', css_class='form-control'),
                Field('date', css_class='form-control'),
                
            ),
           
        )