{% extends 'webapp/base.html' %}
{% block content %}


                <main>
                    <div class="container-fluid px-5 custom-containermax-width " >
                        <h1 class="mt-4">Crypto</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Crypto</li>
                        </ol>
                        <h1 class="mt-4">Crypto</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Crypto</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <table id="datatables" class="display">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Symbol</th>
                                            <th>Current Price (USD)</th>
                                            <th>Market Cap</th>
                                            <th>Total Volume</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Symbol</th>
                                            <th>Current Price (USD)</th>
                                            <th>Market Cap</th>
                                            <th>Total Volume</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for crypto in cryptos %}
                                        <tr>
                                            <td>{{ crypto.name }}</td>
                                            <td>{{ crypto.symbol }}</td>
                                            <td>{{ crypto.current_price }}</td>
                                            <td>{{ crypto.market_cap }}</td>
                                            <td>{{ crypto.total_volume }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>

                {% endblock %}                    <!-- FINAL DEL BLOQUE DE CONTENIDO DEL BODY -->